<header class="header">
  <div class="header__logo">
    <a routerLink="/">
    <img src="https://s4.bcbits.com/img/homepage_2015/bc-logo@2x.png"
         alt=""
         class="logo"
         width="156px"
         height="25px">
    </a>
    <h1>BandCampClone</h1>
    <nav>
      <ul>
        <li *ngIf="isLogIned">
          <a routerLink="/bandsList">
            Your profile
          </a>
        </li>
        <li *ngIf="!isLogIned">

          <div class="social-megia-login-box">
            <span>sign in:</span>
            <a href="#" class="social-media-login-box__link">
              <button>
                VK
              </button>
            </a>
            <a href="#" class="social-media-login-box__link">
              <button>
                GL
              </button>
            </a>
            <a href="#" class="social-media-login-box__link">
              <button>
                FB
              </button>
            </a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
  <app-search class="header__search" ></app-search>
</header>
