<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      <a routerLink="/">
        <img src="https://s4.bcbits.com/img/homepage_2015/bc-logo@2x.png" alt="" class="logo" width="156px" height="25px">
      </a>
      <h1>BandCampClone</h1>
      <nav>
        <ul>

          <li *ngIf="isLogIned">
            <a routerLink="/bandsList">
              Your profile
            </a>
          </li>


          <button id="qsLoginBtn" class="header_login-btn" *ngIf="!auth.isAuthenticated()" (click)="auth.login()" type="button">
            Log In
          </button>

          <button id="qsLogoutBtn" class="header_logout-btn" *ngIf="auth.isAuthenticated()" (click)="auth.logout()" type="button">
            Log Out
          </button>

        </ul>
      </nav>
    </div>
    <app-search class="header__search"></app-search>
  </div>
</header>
