.footer {
  position: absolute;
  bottom: 0;
  width: 95%;
  width: -webkit-fill-available;
  overflow: hidden;
  font-family: "Arial", "Calibri", sans-serif;
  background-color: #477987;
  min-height: 220px;
  padding: 20px 40px;
}

a {
  color: white;
  font-size: 13px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer ul {
  padding: 0;
  margin: 0;
  width: 250px;
  padding-top: 50px;
  list-style: none;
}

.footer li {
  margin: 0 0 13px;
}

.footer__inner {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__leftnav {
  display: flex;
  flex-wrap: wrap;
}

.footer__rightnav {
  display: flex;
}

@media (max-width: 480px) {
    .footer ul {
        width: 100%;
    }
}
