<footer class="footer">
  <div class="wrapper">
    <div class="footer__content">
      <ul>
        <li><a href="#">About us</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Copyright Policy</a></li>
      </ul>
      <ul>
        <li><a href="#">About us</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Copyright Policy</a></li>
      </ul>
      <ul>
        <li><a href="#">About us</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Copyright Policy</a></li>
        </ul>
    </div>
  </div>
</footer>
