.admin {
  position: fixed;
  background: #9dc3ce;
  width: 400px;
  height: 100vh;
  right: -400px;
  top: 0;
  z-index: 1;

  transition: right 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  align-items: center;
}

.admin__inner {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
}

.admin__inner hr{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 35px 0;
}

.admin__inner.dark{
    color: white;
}

.icon[class*="arrow-"]::before {
  width: calc(100% / 2.5);
  height: calc(100% / 2.5);
  border-width: 3px;
  border-style: solid;
  border-color: #9dc3ce;
  transform: rotate(45deg);
}
.icon.arrow-up:before {
  bottom: -5px;
  border-width: 3px 0 0 3px;
}
.icon.arrow-down:before {
  top: -5px;
  border-width: 0 3px 3px 0;
}
.icon.arrow-left::before {
  right: -5px;
  border-width: 0 0 3px 3px;
}
.icon.arrow-right:before {
  left: -5px;
  border-width: 3px 3px 0 0;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.icon {
  position: absolute;
  width: 45px;
  height: 45px;
  margin: 15px;
  overflow: hidden;
  left: -60px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.icon:hover {
  cursor: pointer;
}

.icon:hover::before {
  border-color: #477987;
}

.admin.open {
  right: 0;
}

.custom-radio > label{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* Hide the browser's default radio button */
.custom-radio > label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.custom-radio > label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.custom-radio > label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.custom-radio > label input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.custom-radio > label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio > label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio > label .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


.custom-checkbox > label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox > label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.custom-checkbox > label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.custom-checkbox > label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox > label input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-checkbox > label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox > label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox > label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


