<aside class="admin" [style.background-color]="adminBg.value"  [ngClass]="{'open': open}">
  <div class="icon" (click)="toogleSide()" [ngClass]="open ? 'arrow-right' : 'arrow-left'"></div>
  <div class="admin__inner" [ngClass]="lightTheme.value ? 'light' : 'dark'">
    <h1>Dashboard</h1>
    <div>

      <form [formGroup]="formAdminBg">
        <li>
          <input type="radio" name="adminBg" id="crust1" value="#9dc3ce" formControlName="adminBg" />
          <label for="crust1">Default</label>
        </li>
        <li>
          <input type="radio" name="adminBg" id="crust2" value="red" formControlName="adminBg" />
          <label for="crust2">Red</label>
        </li>
        <li>
          <input type="radio" name="adminBg" id="crust3" value="green" formControlName="adminBg" />
          <label for="crust3">Green</label>
        </li>
      </form>

      <form [formGroup]="formCallToAction">
        <input type="checkbox" name="callToAction" id="CTA" formControlName="callToAction" />
        <label for="CTA">Enable / Disable</label>
      </form>


      <form [formGroup]="formAdminTheme">
        <li>
          <input type="radio" name="adminTheme" id="adminTheme1" [value]="false" formControlName="adminTheme" />
          <label for="adminTheme1">Dark</label>
        </li>
        <li>
          <input type="radio" name="adminTheme" id="adminTheme2" [value]="true" formControlName="adminTheme" />
          <label for="adminTheme2">Light</label>
        </li>
      </form>



    </div>

  </div>
</aside>