.TopBandsList {
  display: flex;
  border: 1px solid greenyellow;
  width: 90vw;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;

  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
