.BandsCardsCarousel {
  display: flex;
  border: 1px solid greenyellow;
  width: 90vw;
  height: 440px;
  margin: 0 auto;
  overflow: hidden;

  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.band-card-disabled {
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.3s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {zoom:0.8; opacity: 0.8; }
  25%  {zoom:0.6; opacity: 0.6;}
  50%  {zoom:0.4; opacity: 0.4;}
  75%  {zoom:0.2; opacity: 0.2;}
  100% {zoom:0.001; opacity: 0; position: absolute}
}

/* Standard syntax */
@keyframes example {
  0%   {zoom:0.8; opacity: 0.8; }
  25%  {zoom:0.6; opacity: 0.6;}
  50%  {zoom:0.4; opacity: 0.4;}
  75%  {zoom:0.2; opacity: 0.2;}
  100% {zoom:0.001; opacity: 0; position: absolute}
}

.BandsCardsCarousel_Buttons {
  display: block;
  border: 1px solid grey;
  text-align: right;
  padding-right: 60px;
}

.BandsCardsCarousel_Wrapper {
  display: block;
  border: 1px solid green;
}

.BandsCardsCarousel_LeftButton, .BandsCardsCarousel_RightButton {
  display: inline-block;
  background-color: white;
  width: 60px;
  height: 40px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  border: 1px solid white;
  border-radius: 4px;
  font-size: 30px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.BandsCardsCarousel_LeftButton:hover,
.BandsCardsCarousel_RightButton:hover {
  cursor: pointer;
}

.BandsCardsCarousel_LeftButton {
  margin-right: 5px;
}

