<div class="carousel">
  <nav class="carousel__nav">
    <div class="stepper">
      <button (click)="slickModal.slickPrev()">←</button>
      <button (click)="slickModal.slickNext()">→</button>
    </div>
  </nav>
  <ngx-slick class="carousel_inner" #slickModal="slick-modal" [config]="slideConfig">
    <app-band-card ngxSlickItem class="slide" *ngFor="let band of bands; let i = index" imageUrl={{band.imageUrl}}
      bandUrl={{band.imageUrl}} title={{band.title}} description={{band.description}}
      genre={{band.genre}}>
    </app-band-card>
  </ngx-slick>
</div>