<div class="wrapper BandPageComponent">
  <div class="wrapper__inner" *ngIf="bandLoaded" >
    <div class="BandPage_mainImg" [style.background-image]="(band.imageUrl.length > 7) ?
           'url(' + band.imageUrl + ')' :
           'linear-gradient(to right, rgba(255, 0, 0, 0), rgb(147, 190, 255))'">
    </div>
    <div class="BandPage_inner">

    <div class="BandPage_AlbumsList" >
      <app-band-album *ngFor="let album of band.albums" [album]="album" >
      </app-band-album>
    </div>
    <div class="BandPage_BandInformation">
      <div class="BandPage_BandInformation_Title">
        <b>{{band.title}}</b>
        <div class="BandPage_BandInformation_Year">
          {{band.launchYear}}
        </div>
      </div>
      <div class="BandPage_BandInformation_Description">
        {{band.description}}
      </div>
    </div>
    </div>
  </div>
</div>