<ul *ngIf="show" class="badge">
  <li class="badge__container">
    <a href="https://itunes.apple.com/ru/" id="ios-link" class="badge__link">
      <span class="icon__badge-appstore badge__item" role="img" title="android">
        <img src="assets/applestore.svg" alt='test' />
      </span>
    </a>
  </li>
  <li class="badge__container">
    <a href="https://play.google.com/store/apps" id="android-link" class="badge__link">
      <span class="icon__badge-googleplay badge__item" role="img" title="ios">
        <img src="assets/googleplay.svg" alt='test' />
      </span>
    </a>
  </li>
</ul>