.carousel{
  display: flex;
  flex-direction: column;
}

.carousel__nav{
  display: flex;
  justify-content: flex-end;
  padding: 5px 15px;
}

.stepper{
  border-radius: 3px;
  display: inline-block;
}

.stepper > button{
  border: 0;
  padding: 0;
  background: white;
}

.bands-cards-carousel_left-button, .bands-cards-carousel_right-button {
  display: inline-block;
  background-color: white;
  width: 60px;
  height: 40px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  border: 1px solid white;
  border-radius: 4px;
  font-size: 30px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.bands-cards-carousel_left-button:hover,
.bands-cards-carousel_right-button:hover {
  cursor: pointer;
}

.bands-cards-carousel_left-button {
  margin-right: 5px;
}

