<aside class="admin"   [ngClass]="{'open': open}">
  <div class="icon" (click)="toogleSide()" [ngClass]="open ? 'arrow-right' : 'arrow-left'"></div>
  <div class="admin__inner" >
    <h1>Dashboard</h1>
    <div>
      <select (change)="setAdminBg($event.target.value)" >
        <option 
        *ngFor="let color of adminBgColors" 
        [value]="color.key" 
        [attr.selected]="color.key==adminBg.key ? true : null">
        {{color.value}}
        </option>
      </select>

      <hr/>

      <div class="custom-checkbox" >
        <label for="CTA">Enable CTA
          <input type="checkbox" name="callToAction" id="CTA" (change)="toogleCallToAction($event.target.checked)" [checked]="callToAction"/>
          <span class="checkmark"></span>
        </label>
      </div>

      <hr/>

      <select (change)="setAdminTheme($event.target.value)" >
        <option 
        *ngFor="let theme of adminThemes" 
        [value]="theme.key" 
        [attr.selected]="theme.key==adminTheme.key ? true : null">
        {{theme.value}}
        </option>
      </select>


    </div>

  </div>
</aside>