<aside class="admin" [style.background-color]="adminBg.value"  [ngClass]="{'open': open}">
  <div class="icon" (click)="toogleSide()" [ngClass]="open ? 'arrow-right' : 'arrow-left'"></div>
  <div class="admin__inner" [ngClass]="lightTheme.value ? 'light' : 'dark'">
    <h1>Dashboard</h1>
    <div>

      <form class="custom-radio" [formGroup]="formAdminBg">
        <label for="crust1"> Default
          <input type="radio" name="adminBg" id="crust1" [value]="'#9dc3ce'" [ngModel]="adminBg.value" formControlName="adminBg" />
          <span class="checkmark"></span>
        </label>
        <label for="crust2">Red
          <input type="radio" name="adminBg" id="crust2" [value]="'red'" [ngModel]="adminBg.value" formControlName="adminBg" />
          
          <span class="checkmark"></span>
        </label>
        <label for="crust3">Green
          <input type="radio" name="adminBg" id="crust3" [value]="'green'" [ngModel]="adminBg.value" formControlName="adminBg" />
          
          <span class="checkmark"></span>
        </label>
      </form>

      <hr/>

      <form class="custom-checkbox"  [formGroup]="formCallToAction">
        <label for="CTA">Enable CTA
          <input type="checkbox" name="callToAction" id="CTA" formControlName="callToAction"/>
          <span class="checkmark"></span>
        </label>
      </form>

      <hr/>

      <form class="custom-radio" [formGroup]="formAdminTheme">
        <label for="adminTheme1">Dark
          <input type="radio"
                 name="adminTheme"
                 id="adminTheme1"
                 [value]="true"
                 formControlName="adminTheme"/>
          <span class="checkmark"></span>
        </label>

        <label for="adminTheme2" >Light
          <input type="radio"
                 name="adminTheme"
                 id="adminTheme2"
                 [value]="false"
                 formControlName="adminTheme"
          />
          <span class="checkmark"></span>
        </label>
      </form>



    </div>

  </div>
</aside>
