<aside class="admin" [style.background-color]="adminBg.value"  [ngClass]="{'open': open}">
  <div class="icon" (click)="toogleSide()" [ngClass]="open ? 'arrow-right' : 'arrow-left'"></div>
  <div class="admin__inner" [ngClass]="lightTheme.value ? 'light' : 'dark'">
    <h1>Dashboard</h1>
    <div>

      <form class="custom-radio" [formGroup]="formAdminBg" *ngFor="let oneRadioBtnData of adminBgData">
        <label for={{oneRadioBtnData.id}}>
          {{oneRadioBtnData.content}}
          <input type="radio"
                 name="adminBg"
                 id={{oneRadioBtnData.id}}
                 [value]="oneRadioBtnData.value"
                 [ngModel]="adminBg.value"
                 formControlName="adminBg" />
          <span class="checkmark"></span>
        </label>

      </form>

      <hr/>

      <form class="custom-checkbox"  [formGroup]="formCallToAction">
        <label for="CTA">Enable CTA
          <input type="checkbox" name="callToAction" id="CTA" formControlName="callToAction"/>
          <span class="checkmark"></span>
        </label>
      </form>

      <hr/>

      <form class="custom-radio" [formGroup]="formAdminTheme">
        <label for="adminTheme1">Dark
          <input type="radio"
                 name="adminTheme"
                 id="adminTheme1"
                 [value]="true"
                 formControlName="adminTheme"/>
          <span class="checkmark"></span>
        </label>

        <label for="adminTheme2" >Light
          <input type="radio"
                 name="adminTheme"
                 id="adminTheme2"
                 [value]="false"
                 formControlName="adminTheme"
          />
          <span class="checkmark"></span>
        </label>
      </form>



    </div>

  </div>
</aside>
