.search {
  width: 100%;
}

.search__input,
.search__button {
  height: 30px;
  background-color: white;
  border: 1px solid silver;
}

.search__button:hover {
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 15px 0 0;
}

ul li {
  margin: 0 5px;
}

.search__input {
  width: calc(100% - 60px);
}

.search__button {
  width: 60px;
}

.search_link-to-bands-list {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.search_link-to-bands-list:hover {
  cursor: pointer;
  color: #477987;
  text-decoration: underline;
}

@media (max-width: 480px) {
  .search__input {
    margin-top: 20px;
  }
}
