<div class="search">
  <input
    class="searchInput"
    [(ngModel)]="searchQuery"
    type="search"
    id="searchInput"
    (keydown.enter)="goToBandsList($event)"
    placeholder="Search band by name, genre or launch year...">

  <a
    routerLink="/bandsList"
    [queryParams]="{ 'searchQuery' :searchQuery}"
  >
    <button
      id="searchButton"
      class="search__button"
    >
      Search
    </button>
  </a>

</div>
<nav>
    <ul>
      <li>
        <a routerLink="/bandsList">Bands cards list</a>
      </li>
    </ul>
  </nav>
