<div class="BandPageComponent">
  <h1>BandPageComponent</h1>



  <div class="row">
    <div class="column">
      <div class="BandPage_mainImg">
        <h3>Main img</h3>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="column _20">


        <div class="BandPage_AlbumsList">

          <div class="AlbumComponent">

            <div class="AlbumComponent_Img">
              albumImg
            </div>

            <div class="AlbumComponent_Title">
              <b>Album Title</b>
            </div>

          </div>


          <div class="AlbumComponent">

            <div class="AlbumComponent_Img">
              albumImg
            </div>

            <div class="AlbumComponent_Title">
              <b>Album Title</b>
            </div>

          </div>

        </div>


    </div>
    <div class="column _80">
      <div class="BandPage_BandInformation">

        <div class="BandPage_BandInformation_Title">
          <b>BandInformation_Title</b>
          <div class="BandPage_BandInformation_Year">
            BandInformation_Year
          </div>
        </div>



        <div class="BandPage_BandInformation_Description">
          description of band #1
        </div>

      </div>
    </div>
  </div>







</div>
