.AlbumComponent {
  padding: 1em 0 0 0.5em;
  flex: 1 0 20em;

  width: 200px;
  height: 220px;
  max-width: 200px;
  max-height: 220px;
  margin: 5px;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  border-radius: 4px;

  background-color: white;
  text-align: center;

}

.AlbumComponent:hover {
  cursor: pointer;
}

.AlbumComponent_Img {
  height: 180px;
  width: 180px;
  background: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(255, 180, 17));
}

.AlbumComponent_Title {
  width: 180px;
  font-size: 18px;
  font-family: Georgia, Times, serif;
}
