.AlbumComponent {
  max-width: 200px;
  max-height: 250px;
  margin: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  background-color: white;
}

.albumImg{
  width: 100%;
}

.AlbumComponent:hover {
  cursor: pointer;
}

.AlbumComponent_Img {
  height: 180px;
  width: 180px;
  background: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(255, 180, 17));
}

.AlbumComponent_Title {
  margin: 0 auto;
  text-align: center;
  font-family: monospace;
  font-size: 9pt;
  padding: 10px 0;
}
